@model IEnumerable<Dal.Models.Advertisement>

@{
    ViewData["Title"] = "Ваши объявления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Ваши объявления</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Создать новое объявление</a>
</p>

@await Html.PartialAsync("~/Views/Advertisements/SearchForm.cshtml")

<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label class="control-label">Номер</label>
            <input type="text" name="adNumber" class="allownumericwithoutdecimal form-control" value=@ViewBag.adNumber />
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">Статус объявления</label>
            <select name="advertisementStatus" class="form-control" asp-items="ViewBag.advertisementStatuses">
                <option value="">Все</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">Место объявления</label>
            <select name="pointId" class="form-control" asp-items="ViewBag.points">
                <option value="">Все</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">Макс цена</label>
            <input type="text" name="price" class="allownumericwithoutdecimal form-control" value="@ViewBag.price" />
        </div>
    </div>
    <input type="submit" value="Поиск" class="btn btn-success" />
    <a action="Index" asp-route-advertisementStatus="1" class="btn btn-success">Создан</a>
    <a action="Index" asp-route-advertisementStatus="2" class="btn btn-success">На модерации</a>
    <a action="Index" asp-route-advertisementStatus="3" class="btn btn-success">К оплате</a>
    <a action="Index" asp-route-advertisementStatus="5" class="btn btn-success">Активные</a>
</form>
<br />
<paging total-records="@ViewBag.TotalRecords"
        page-no="@ViewBag.PageNo"
        page-size="@ViewBag.PageSize"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false">
</paging>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisementStatus.NameRu)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.adNumberSort
                   asp-route-adNumber=@ViewBag.adNumber
                   asp-route-advertisementStatus=@ViewBag.advertisementStatus
                   asp-route-pointId=@ViewBag.pointId
                   asp-route-price=@ViewBag.price>@Html.DisplayNameFor(model => model.AdNumber)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationInDays)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.createDateSort
                   asp-route-adNumber=@ViewBag.adNumber
                   asp-route-advertisementStatus=@ViewBag.advertisementStatus
                   asp-route-pointId=@ViewBag.pointId
                   asp-route-price=@ViewBag.price>@Html.DisplayNameFor(model => model.CreateDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Оплата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisementStatus.NameRu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInDays)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CreateDate)*@
                @item.CreateDate.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.StartDate.ToString("dd.MM.yyyy HH:mm"))*@
                @item.StartDate.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EndDate)*@
                @item.EndDate.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.AdvertisementStatus.Name == "ForPayment")
                {
                    <a asp-action="Payment" asp-route-id="@item.Id">Оплата наличными</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |

                @switch (item.AdvertisementStatus.Name)
                {
                    case "InModeration":
                        <a asp-action="Moderate" asp-route-id="@item.Id">Модерация</a><span>|</span>
                        break;
                        @*case "ForPayment":
                    <a asp-action="Payment" asp-route-id="@item.Id">Оплата наличными</a><span>|</span>
                    break;*@
                }

                @*@if (item.AdvertisementStatus.Name == "InModeration")
            {
                <a asp-action="Moderate" asp-route-id="@item.Id">Модерация</a><span>|</span>
            }
                *@

                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<paging total-records="@ViewBag.TotalRecords"
        page-no="@ViewBag.PageNo"
        page-size="@ViewBag.PageSize"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false">
</paging>

